<p id="notice"></p>
 <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>User info</h2>
      <%= form_with model:@user, local:true do |f| %> 
    <!--<form enctype="multipart/form-data" action="/users/40554" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="97jpu5Hev+HjK52Xdz1wGmW0S4v7mmJNa3xR9jB/KKgrRaIXCeSlI9Xv4QfJVlyGdneV42HJQY1wPEeXIXqHTQ==">-->
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, id:"inputName" %>
        <!--<input class="form-control name" type="text" value="ああああああ" name="user[name]" id="user_name">-->
      </div>
     <div class="form-group">
        <%= f.label :user_image, "Image" %>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
        <!--<input value="{}" data-reference="a01ad56162e1c311f3e599e9902550ce" type="hidden" name="user[profile_image]"><input class="form-control-file user_image" data-reference="a01ad56162e1c311f3e599e9902550ce" include_hidden="false" type="file" name="user[profile_image]" id="user_profile_image">-->
      </div>
      <div class="form-group">
        <%= f.label :introduction, "Introduction" %>
        <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction" %>
        <!--<textarea class="form-control introduction" name="user[introduction]" id="user_introduction">ああああああ</textarea>-->
      </div>
      <div class="form-group">
        <%= f.submit "Update User" %>
        <!--<input type="submit" name="commit" value="Update User" class="btn btn-secondary" data-disable-with="Update User">-->
      </div>
      <% end %>
</form> 
</div>
</div>
</div>