<p id="notice"></p>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h1>Editing Book</h1>

      <!--エラーメッセージ-->
      <%= render 'devise/shared/error_messages', resource: @book %>
      <!--編集フォーム-->
       <%= form_with model: @book, local: true do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title %>
          <!--<input class="form-control book_title" type="text" name="book[title]" id="book_title">-->
        </div>
        <div class="form-group">
          <%= f.label :body, "Opinion" %>
          <%= f.text_area :body %>
          <!--<textarea class="form-control book_body" name="book[body]" id="book_body"></textarea>-->
        </div>
        <div class="form-group">
        <%= f.submit 'Update Book' %>
          <!--<input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">-->
        </div>
       <% end %>

<!--<form action="/books/32221" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="fq8L/2PWbaUHkyKd7gAN1f6+ZULsA8g7e7l0hEcCK9zfGJZFCeSE0zlmuQYmidQEmHvsPLlPA4iaik21stVlzg==">-->
<!--  <div class="form-group">-->
<!--    <label for="book_title">Title</label>-->
<!--    <input class="form-control book_title" type="text" value="テスト1" name="book[title]" id="book_title">-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label for="book_opinion">Opinion</label>-->
<!--    <textarea class="form-control book_body" name="book[body]" id="book_body">aaaaaaa-->
<!--</textarea>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <input type="submit" name="commit" value="Update Book" class="btn btn-success" data-disable-with="Update Book">-->
<!--  </div>-->
<!--</form>-->
  		<%= link_to "Show", book_path(@book.id) %>
  		|
  		<%= link_to "Back", books_path %>
    </div>
  </div>
</div>




